<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="styles/base.css">
</head>
<body>
<section id="main">

    <h1>Best Books!</h1>
    <section id="gray">
        
        <h2>Search by Title or Author</h2>
        <form action="/searches"method="post">
            <label >
                <span>
                    
                </span>
                <input id="enter" type="text" name="text" placeholder="Enter a title or author"><br>
            </label>
            <label >
                Title
                <input type="radio" name="search" value="title"> <br>
                Author
                <input type="radio" name="search" value="author"><br>
                
            </label>
            <button >search the Google Books API</button>
            
        </form>
    </section>
</section>



</body>
</html>