<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="styles/base.css">
</head>
<body>
  <form action="/"method="get">
<label >
    <span>
        
    </span>
    <input type="text" name="search"><br>
</label>
<label >
    <input type="radio" name="type" value="title">Title <br>
    <input type="radio" name="type" value="author">Author<br>

</label>
<button >search</button>

</form>



</body>
</html>