 <!-- <!DOCTYPE html>
<html>

<head>
    <title>
        Dania Template
    </title>
</head>

<body>
    <main>
        <ul>

            <% show.forEach((book)=> { %>
                <p>The titles</p>
            <li><%= book.volumeInfo.title %></li>
            <p>The authors</p>
            <li><%= book.volumeInfo.authors %></li>
            <% }); %>
            <!-- <% show.forEach((book)=> { %>
            <% }); %>
            <p>The descriptions</p>
            <% show.forEach((book)=> { %>
            <li><%= book.volumeInfo.description %></li>
            <% }); %>
            <p>The imageLinks</p>
            <% show.forEach((book)=> { %>
            <li><%= book.volumeInfo.imageLinks.thumbnail %></li>
            <% }); %> -->

        </ul>
    </main>
</body> 

</html> -->